/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

* {
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Global Styles */

:root {
  /* Colors */
  --green: hsl(75, 94%, 57%);

  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: var(--off-black);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* Card */

.card {
  background-color: var(--dark-grey);
  max-width: 24rem;
  padding: 2rem 2rem;
  border-radius: 1rem;
  width: 90vw;
  margin: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__picture {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 1.5rem;
}

.profile__name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.profile__location {
  color: var(--green);
  font-weight: 600;
  text-align: center;
}

.profile__bio {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0;
}

.links ul li {
  display: block;
  width: 100%;
}

.btn {
  display: block;
  text-align: center;
  background-color: var(--grey);
  padding: 1rem 0;
  font-weight: 600;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: var(--green);
  color: var(--dark-grey);
}

/* Footer */

footer {
  margin-bottom: 1rem;
  line-height: 2;
}

/* FEM Styles */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--green);
}
